
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/


.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app


crashlytics-build.properties


/[Pp]ackages/com.unity.*.tgz
# Unity sablon artigi, oyunla ilgisi yok
/Assets/TutorialInfo/
/Assets/TutorialInfo.meta